.sass-cache/
*/__pycache__/*
venv/
db.sqlite3
tmp/
*.pyc 
media/*
.vscode/
*/migrations/*
employee_dashboard/client/employee-dashboard/.eslintcache
employee_dashboard/client/employee-dashboard/debug.log
