.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
  }
  
  .site-layout .site-layout-background {
    background: #fff;
  }
    [data-theme="dark"] .site-layout .site-layout-background {
      background: #141414;
    }
  
    #root > section > section > header > ul > li:nth-child(2) > span > span{
          margin-right: 0px;
  
    }
    .App {
      font-family: sans-serif;
      text-align: center;
      height: 100vh;
    }
    
    .App-map {
      height: 100%;
      width: 100%;
    }
    
    .dynamic-delete-button {
      margin: 0 8px;
      cursor: pointer;
      position: relative;
      top: 4px;
      font-size: 24px;
      color: #999;
      transition: all 0.3s;
    }
    .dynamic-delete-button:hover {
      color: #777;
    }
    .dynamic-delete-button[disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }
      [data-theme="dark"] .dynamic-delete-button {
        color: rgba(255,255,255,.45);
      }
      [data-theme="dark"] .dynamic-delete-button:hover {
        color: rgba(255,255,255,.65);
      }